html {
  background-color: #e2e2e2;

  font-family: sans-serif;
}

*, *::before, *::after {
  box-sizing: inherit;
}

.polaroid {
  margin: 0;
  padding: 10px;
  width: 250px;
  transition: all .3s linear;
  position: absolute;
  background-color: #fff;
  border-radius: 4px;
  box-shadow: 1px 4px 6px rgba(0, 0, 0, .5);
}

.polaroid > img {
  width: 100%;
}

.polaroid > figcaption {
  color: #fff;
  text-shadow: 1px 1px 3px #000;
}

.polaroid:first-child {
  transform: rotate(-10deg);
  left: 13em;
  top: 6em;
  z-index: 1;
}

.polaroid:nth-child(2) {
  transform: rotate(6deg);
  left: 18em;
  top: 9em;
  z-index: 3;
}

.polaroid:nth-child(3) {
  transform: rotate(33deg);
  left: 24em;
  top: 6em;
  z-index: 2;
}

.polaroid:hover {
  transform: rotate(0deg);
  box-shadow: 1px 4px 12px rgba(0, 0, 0, .9);
  position: absolute;
  z-index: 1000;
}
